.head1{
    text-align: center;
    background-color: black;
    color:white;
    padding:30px;
}
h4{
    text-align: center;
    font-size: 50px;
}
       body{
        background-color:#eee;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }
       .height{
        height: 100vh;
       }
       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);  
       }
       .search input{
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
       }
       .search input:focus{
        box-shadow: none;
        border: 2px solid blue;
       }
       .search .fa-search{
        position: absolute;
        top: 20px;
        left: 16px;
       }
       .search button{
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;
       }
       .container{
        display:flex;
        justify-content: center;
       }
       .container3{
        border: solid black 2px;
        margin-top: 10px;
        text-align: center;
        margin-left: 20px;
        height:100%
     
       }
       .kural-count-tam{
        font-size: 20px;
        color:white;
        font-family: 'Times New Roman', Times, serif;
        background-color:rgb(227, 49, 49);
        width:150px;
        height:40px;
        display:inline-block;
        text-align: center;
       }
       .kural-count-eng{
        font-size: 20px;
        color:white;
        font-family: 'Times New Roman', Times, serif;
        background-color:rgb(227, 49, 49);
        width:150px;
        height:40px;
        display:inline-block;
        text-align: center;
       }
       .kural-title-tam{
padding: 10px;
font-size: 20px;
       }
       .kural-title-eng{
       
        padding: 10px;
        font-size: 20px;
               }
       .sect_tam {
        background-color: rgb(255, 174, 0);
        border-radius: 20px;
        padding:10px;
        margin:10px;
       }
       .chapgrp_tam{
        background-color: rgb(255, 174, 0);
        border-radius: 20px;
        padding:10px;
        margin:10px;
       }
       .sect_eng {
        background-color: rgb(255, 174, 0);
        border-radius: 20px;
        padding:10px;
        margin:10px;
       }
       .chapgrp_eng {
        background-color: rgb(255, 174, 0);
        border-radius: 20px;
        padding:10px;
        margin:10px;
       }
.kural-tam{
    font-weight: bold;
    font-size: 25px;
    margin-top:25px;
}
.kural-eng{
    font-weight: bold;
    font-size: 25px;
    margin-top:25px;
}
.kural-meaning-tam{
    font-weight: bold;
    font-size: 20px;
    margin-top:30px;
    padding:30px;
}
.kural-meaning-eng{
    font-weight: bold;
    font-size: 20px;
    margin-top:30px;
    padding:30px;
}
